<!DOCTYPE html>
<html lang = "en">

<head>
	<title>NBA One on One</title>
    <link rel = "icon" href = "{{ url_for('static', filename = 'favicon.png') }}">
    <script type="text/javascript"></script>
    <style></style> 
	<link rel="stylesheet" href="http://getbootstrap.com/dist/css/bootstrap.min.css">
	<meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

  <style>
  h6.monospace{
    font-family: "Courier New";
    font-size: 150%;
  }
  </style>
</head>

<body>
	<div class="container">
  		<div class="row">
    		<div class="col-sm-6" style="background-color:#e5e5e5;">
      			<h1>{{selected_player}}</h1>
      			<h1>{{player_score}}</h1>
    		</div>
    		<div class="col-sm-6" style="background-color:#cccccc;">
      			<h1>{{selected_opponent}}</h1>
      			<h1>{{opponent_score}}</h1>
    		</div>
  		</div>
	</div>
	<div class = "container" style = "background-color:#b2b2b2">
		<h4 class = "monospace" style = "white-space:pre-wrap;">{{totalgames}}</h4>
        <h4 class = "monospace" style = "white-space:pre-wrap;">{{player_wp}}</h4>
        <h4 class = "monospace" style = "white-space:pre-wrap;">{{opponent_wp}}</h4>
        <h4 class = "monospace" style = "white-space:pre-wrap;">{{pointdifference}}</h4>
	</div>
    <div class = "container chart">{{ htmlShotChart|safe }}</div>
    <div class = "container chart">{{ htmlGameTimeLine|safe }}</div>
    <div class = "container chart">{{ htmlShotDistBreakdown|safe }}</div>
    <div class = "container chart">{{ htmlDribbleBreakdown|safe }}</div>
    <div class = "container chart">{{ htmlFg|safe }}</div>
	<div class = "container">
		<a class="btn btn-default" href="/" role="button">Return to Mainpage</a>
	</div>

</body>

</html>
